@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
}

window#waybar {
  background-color: @background-darker;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground;
}

#workspaces button.active {
  background-color: @selection;
}

#workspaces button:hover {
  background: @selection;
}

#workspaces button.focused {
  background-color: @lavender;
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
  color: @red;
}

#mode {
  background-color: @background;
  box-shadow: inset 0 -3px @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
  color: @foreground;
  border: 5px;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @background-darker;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  background-color: @background-darker;
  color: @green;
}


#battery.warning:not(.charging) {
  background-color: @background-darker;
  color: @orange;
}

#battery.critical:not(.charging) {
  color: @red;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @comment;
}
