[Unit]
Description=Change wallpaper using swww
after=swww.service

[Service]
ExecStart=/bin/bash ~/.config/swww/swww.sh

[Install]
WantedBy=default.target
