[Unit]
Description=Change wallpaper using swww
After=swww.service

[Service]
ExecStart=/usr/bin/env bash /home/gjones/.config/swww/swww.sh

[Install]
WantedBy=default.target
